.first_image {
  width: 1000px;
  max-height: 200px;
}

.mainPhoto {
  margin-top: 10px;
  margin-left: 10px;
  max-width: 200px;
  max-height: 200px;
  border-radius: 2px;
}

.about_me {
  font-weight: bold;
  color: white;
}

.decription {
  color: black;
}

.status {
  font-size: 20px;
  color: blueviolet;
}